@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'MaterialSymbols-Outlined';
  src: url('./fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].ttf');
}

body {
  background-color: white;
  font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;